  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent horizontal scrolling */
html, body {
  overflow-x: hidden;
  width: 100%;
  background-color: #ffffff;
}



    @font-face {
  font-family: 'IvyMode';
  src: url('fonts/IvyMode-Regular.woff2') format('woff2'),
       url('fonts/IvyMode-Regular.woff') format('woff'),
       url('fonts/IvyMode-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: 100;
}










/* Top banner */
    .top-banner {
      background-color: #C3695E;
      color: white;
      padding: 5px 0;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      font-family: 'Poppins', sans-serif;
    }
    .top-banner span {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 19s linear infinite;
    }
    @keyframes marquee {
      from { transform: translateX(0); }
      to { transform: translateX(-100%); }
    }


    .navbar {
      background-color: #153743; 
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-family: 'Poppins', sans-serif;

    }
    .navbar-brand {
      padding-left: 1rem; 
    }
    .navbar-nav {
      gap: 2.5rem; 
    }
    .navbar-nav .nav-link {
      color: white !important;
      font-weight: 300;
      transition: color 0.3s ease;
      font-family: 'Poppins', sans-serif;

    }
    .navbar-nav .nav-link:hover {
      color: #c96b5a !important;
    }
    .navbar-brand img {
      height: 45px;
    }
    .icon-btn {
      color: white;
      font-size: 18px;
      margin-left: 20px;
      margin-right: 1rem; 
      cursor: pointer;
      transition: color 0.3s ease;
    }
    .icon-btn:hover {
      color: #c96b5a;
    }


    .navbar-toggler {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    @media (max-width: 991px) {
      .navbar-nav {
        text-align: center;
        gap: 1.5rem;
      }
    }

    .sticky-top {
      top: 0;
      z-index: 1030;
    }






















    .product-page { padding: 40px 0; }
    


    .breadcrumb-item a{
        color: #167597;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 1rem;
              text-decoration: none;


    }

    .breadcrumb-item-second{

                color: #153743;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 1rem;



    }

    .product-gallery{
  
        padding: 3px ;
    }








    .main-image-slider {
  position: relative;
}

.main-image-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none; 
}

.main-image-slider .owl-nav button {
  background-color: rgb(213, 209, 209) !important; /* circle background */
  border: none !important;           /* remove default border */
  color: rgb(255, 255, 255) !important;           /* icon color */
  width: 50px !important;            /* circle size */
  height: 50px !important;           
  border-radius: 50% !important;     /* makes it a circle */
  display: flex !important;          /* center the icon */
  align-items: center !important;
  justify-content: center !important;
  font-size: 20px !important;        /* icon size */
  pointer-events: auto;              /* keep clickable */
  padding: 0 !important;             /* remove default padding */
  cursor: pointer;                   /* show pointer on hover */
  transition: background 0.3s ease;
}

.main-image-slider .owl-nav button:hover {
  background-color: white !important; 
  color: rgb(250, 248, 248) !important;           
}



@media (max-width: 576px) {
  .main-image-slider .owl-nav button {
    font-size: 1rem !important; /* Reduce icon size */
    padding: 18px !important;      /* Reduce padding */
    width: 20px;                   /* Smaller circle */
    height: 20px;
  }
}



    .product-gallery .main-image {
      background: #F7EDE1;
      border-radius: 14px;
      /* padding: 30px; */
      display:flex;
      align-items:center;
      justify-content:center;
      height: 420px; 
      box-shadow: 0 6px 20px rgba(19,19,19,0.04);


    }

    .product-gallery .main-image img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      display:block;
      
    }

    .thumbs-wrapper { margin-top: 16px; 
      
     }
    .thumb-item {
      padding: 6px;
      border-radius: 10px;
      cursor: pointer;
      border: 2px solid transparent;
      background:#F2F4F7;
      display:flex;
      align-items:center;
      justify-content:center;
    }
    .thumb-item img {
      width: 1005;
      height: 100px;
      object-fit: contain;
      display:block;
      border-radius: 8px;
    }
    .thumb-item.active {
      border-color: #2c3e50;
      box-shadow: 0 6px 14px rgba(44,62,80,0.08);
    }




    /* .owl-nav { display: none !important; } */

    .product-title { 
        font-size: clamp(2rem,3vw,2.5rem);
         font-weight:400; 
         margin-bottom:8px; 
         color: #1D2939;
               font-family: 'Poppins', sans-serif;

    
    }
    .rating { 
        display:flex; 
        align-items:center;
         gap:10px; 
         font-size:0.95rem; 
         color:#1D2939;
         font-weight: 500;
              font-family: 'Roboto', sans-serif;

    
    }

    .liter{

         font-size:0.95rem; 
         color:#1D2939;
         font-weight: 500;
              font-family: 'Roboto', sans-serif;


    }
    .stars { display:flex; gap:4px; align-items:center; }
    .stars svg { width:18px; height:18px; fill: #FFC107; }

    .price-row { display:flex; align-items:baseline; gap:12px; margin-top:12px; }


    .price-current {
         font-size:3rem; 
         font-weight:600; 
         color:#153743;
              font-family: 'Roboto', sans-serif;

         }


    .price-old { 
        font-size:1.3rem; 
        color:#E00D0D;
         text-decoration: line-through; 
                   font-family: 'Roboto', sans-serif;
                   font-weight: 500;
        
        }



    .divider { border-top:1px solid #e6e6e6; margin:18px 0; }



    .description{
                           font-family: 'Roboto', sans-serif;
                   font-weight: 400;
                          font-size:1.1rem; 
   
         color:#1D2939;

    }


    .flavour-head h5{


          font-family: 'Roboto', sans-serif;
                   font-weight: 500;
                          font-size:1.3rem; 
   
         color:#1D2939;



    }

        .flavour-head p{


          font-family: 'Roboto', sans-serif;
                   font-weight: 400;
                          font-size:1.2rem; 
   
         color:#667085;


    }




    .flavour{
        display: flex;
        align-items: center;
        
    }

    .flavour-list {
         display:flex;
          gap:12px; 
          align-items:center;
           
        }

    .flavour-item {
      width:58px;
       height:58px; 
       border-radius:8px; 
       display:flex;
        align-items:center; 
        justify-content:center;
      border:2px solid transparent; cursor:pointer; background:#fff;
      box-shadow: 0 4px 12px rgba(16,24,40,0.03);
    }

    .flavour-item img {
         width:36px; height:36px; object-fit:cover; border-radius:6px;
         }

    .flavour-item.active { 
        border-color: #2c3e50;
     }






    .qty-controls { 
        display:flex; gap:20px; align-items:center; 
        margin-top:14px;
        margin-bottom: 14px; 
    }

    .litter-drop select{
        min-width: 100px;
        min-height: 35px;
        border-radius: 30px;
        padding: 10px 20px;
        color: #1D2939;
        background-color: #F2F4F7;
    }


    .qty-box { display:inline-flex; align-items:center; border:1px solid #e0e0e0; border-radius:8px; overflow:hidden; }
    .qty-btn { width:36px; height:36px; border:0; background:#f3f4f6; cursor:pointer; }
    .qty-value { width:56px; text-align:center; border:0; font-weight:600; }

    .btn-add-cart {

      background:#153743; 
      color:#fff; 
      border-radius:6px; 
      padding:10px 18px; 
      border:0;
      min-width: 15rem;
    }

    .btn-add-cart:hover { background:#095243; color:#fff; }





    @media (max-width:562px){


          .qty-controls { 
        display:flex; gap:20px; align-items:center; 
        margin-top:14px;
        margin-bottom: 14px; 
        flex-wrap: wrap;
    }
      

    }



    .meta-actions {
         display:flex; 
         gap:18px; 
         align-items:center; 
         margin-top:12px; 
         color:#1D2939; 
         font-size:0.95rem; 
         font-weight: 500 !important;
         flex-wrap: wrap;
        }

        .meta-actions a,i{color:#1D2939 ;}

    .pill-tabs { 
      display:flex; 
      gap:8px; margin-top:18px; 
      background-color: #EAECF0; 
      max-width: fit-content; 
      padding: 10px 15px; 
      border-radius:34px; 
     }


    .pill-tabs button { 
      
      border-radius:24px; 
      border:1px solid #e6e6e6; 
      background:#fff; 
      padding:8px 2rem; 
      cursor:pointer;
     }


    .pill-tabs button.active {
       background:#0b6b5a;
        color:#fff; 
        border-color: #0b6b5a; }

   

        @media (max-width:486px){


          .pill-tabs { 
      display:flex; 
      gap:5px; margin-top:18px; 
      background-color: #EAECF0; 
      max-width: fit-content; 
      padding: 5px 10px; 
      border-radius:34px; 
     }


    .pill-tabs button { 
      
      border-radius:24px; 
      border:1px solid #e6e6e6; 
      background:#fff; 
      padding:8px 14px; 
      cursor:pointer;
      font-size: 14px;
     }



        }

        
/*     
    .product-accordion .accordion-body { color:#444; font-size:0.95rem; } */


    
  .product-accordion-item {
    border: none;
    border-bottom: 1px solid #e0e0e0;
  
    max-width: 700px;
    margin: 1rem auto;
    padding: 10px 30px;
  }

 .productaccordion-button {
    background: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0;
    display: flex;
    align-items: center;
               font-family: 'Poppins', sans-serif;
               color: #1D2939;

    justify-content: space-between;
  }


  .product-accordion-button:not(.collapsed) {
    color: #000;
    background: none;
  }

  .product-accordion-body {
    padding: 10px 0 20px 30px;
    font-size: 1rem;
    color: #667085;
    line-height: 1.6;
    font-weight: 400;
              font-family: 'Roboto', sans-serif;

  }







    @media (max-width: 991.98px) {
      .product-gallery .main-image { height: 360px; }
    }
    @media (max-width: 575.98px) {
      .product-gallery .main-image { height: 280px;  }
      .thumb-item img { width:56px; height:56px; }
      .price-current { font-size:1.3rem; }
    }









    .features-section img{
        height: 130px;
        width: 130px;
        opacity: 0.5;
    }

























/* Flip the whole carousel container */
.review-carousel-2 {
  transform: scaleX(-1);
}

/* Flip each item back so content isn't mirrored */
.review-carousel-2 .owl-item > * {
  transform: scaleX(-1);
}




    .reviews .subtitle {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  color: #431533;
  font-weight: 400 !important;
  text-align: center;
}

.review-card {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #C5B4B4;
  position: relative;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.star-rating {
  display: flex;
  gap: 2px;
}

.star {
  color: #ffd700;
  font-size: 16px;
}

.review-text {
  color: #6B6B78 !important;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem !important;
  line-height: 1.6;
  margin-bottom: 25px;
  font-weight: 400;
}

.review-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-name {
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  color: #2E2E2E;
  margin: 0;
}

.author-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #6B6B78 !important;
  font-size: 1rem !important;
  font-weight: 400;
  margin: 0;
}
















    .faq-section {
    font-family: 'Poppins', sans-serif;
  }

  .faq-title {
    font-size: clamp(3rem,5vw,4rem);
    font-weight: 400;
  font-family: 'IvyMode', serif;
    color: #1D2939;
  }

  .accordion-item {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    /* margin-bottom: 3rem; */
    max-width: 1000px;
    margin: 3rem auto;
  }

  .faqaccordion-button {
    background: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 1.3rem;
    padding-left: 0;
    display: flex;
    align-items: center;
               font-family: 'Poppins', sans-serif;
               color: #1D2939;

    justify-content: space-between;
  }

  .accordion-button:focus{
    border: none;
    background: none;
      outline: none;      /* <— Add this */
  box-shadow: none;
  }

  .accordion-button .faq-number {
    font-weight: 500;
    margin-right: 15px;
    color: #1D2939;
  }

  .accordion-button:not(.collapsed) {
    color: #000;
    background: none;
  }

  .accordion-body {
    padding: 10px 0 20px 30px;
    font-size: 1rem;
    color: #667085;
    line-height: 1.6;
    font-weight: 400;
              font-family: 'Roboto', sans-serif;

  }











































  

.footer-section {
            background-image: url('images/Frame\ 123.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #ffffff;
            padding: 60px 0 40px 0;
            position: relative;
    font-family: 'Poppins', sans-serif;

        }



        .footer-section .container {
            position: relative;
            z-index: 2;
        }

        .footer-logo {
            width: 120px;
            height: 60px;
            background: url('images/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 20px;
        }

        .footer-description {
            font-size: 1rem !important;
            line-height: 1.6;
            margin-bottom: 20px;
            color: #e0e0e0 !important;
    font-family: 'Poppins', sans-serif;

        }

        .footer-heading {
            font-size: 2rem;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 25px;
            letter-spacing: 0.5px;
    font-family: 'IvyMode', serif;

        }

        .footer-nav-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .footer-nav-item {
            margin-bottom: 12px;
        }

        .footer-nav-link {
            color: #d0d0d0;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s ease;
            display: block;
        }

        .footer-nav-link:hover {
            color: #ffffff;
            text-decoration: none;
        }

        .social-icons {
            display: flex;
            gap: 15px;
            margin-top: 20px;
        }

        .footer-section .social-icon {
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            text-decoration: none;
            transition: background-color 0.3s ease;
           
        }
        .footer-section .social-icon i{
            color:white;
        }

        .social-icon:hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: #ffffff;
        }

        .contact-info {
            font-size: 1rem;
            line-height: 1.6;
            color: #d0d0d0;
        }

        .contact-info strong {
            color: #d0d0d0;
            display: block;
            margin-bottom: 5px;
        }

        .phone-number {
            color: #ffffff;
            font-weight: 500;
            margin-top: 10px;
        }

        .footer-copyright {
            margin-top: 40px;
            padding-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 13px;
            color: #b0b0b0;
        }

        @media (max-width: 768px) {
            .footer-section {
                padding: 40px 0 30px 0;
            }
            
            .footer-heading {
                margin-bottom: 15px;
                margin-top: 30px;
            }
            
            .col-md-3:first-child .footer-heading {
                margin-top: 0;
            }
        }



  